.barra-navegacion {
    background-color: black !important;
    display: flex;
}

div-menu {
    display: flex;
    justify-content: flex-end;
}

nav img {
    height: 30px;
}

nav a {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 100px;
    color: #ffffff !important;
}

li a:hover {
    color: #000000;
  }

.desplegable {
    background-color: black;
}

dropdown-item {
    color: #ffffff;
}

carousel slide {
    color: black;
}


section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.foto {
    
    width: 100%;
    margin: 10px;
    border-radius: 25px;
}

section div h5 {
color: black;
font-family: 'Nunito Sans', sans-serif;
}

section div p {
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    }

.tarjetas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
border-color: #8C52FF;
margin: 10px;

}

.seccion-contacto {
display: block;
background-color: #462980;
justify-content: center;
padding: 50px;

}

.mb-3 {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 100px;
}


.form-control {
    border-width: 2px;
    border-color: #8C52FF;
}



.casilla-1 {
    width: 100%;
    display: block;
}

.casilla-2 {
    width: 100%;
    display: block;
}


label {
    width: 100%;
}

input {
    width: 90%;
}

textarea {
    width: 90%;
}

footer {
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
padding: 10px;
    }


    

footer h6 {
    color: #ffffff;
font-family: 'Nunito Sans', sans-serif;
    font-weight: 50px;
    margin: 0px;
}


footer div img {
width: 30px;
margin-left: 10px;
margin-top: 0;
}
