.barra-navegacion {
    background-color: black !important;
    display: flex;
}

div-menu {
    display: flex;
    justify-content: flex-end;
}

nav img {
    height: 30px;
}

nav a {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 100px;
    color: #ffffff !important;
}

li a:hover {
    color: #000000;
  }

.desplegable {
    background-color: black;
}

dropdown-item {
    color: #ffffff;
}

carousel slide {
    color: black;
}


section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.foto {
    
    width: 100%;
    margin: 10px;
    border-radius: 25px;
}

section div h5 {
color: black;
font-family: 'Nunito Sans', sans-serif;
}

section div p {
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    }

.tarjetas {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
border-color: #8C52FF;
margin: 10px;

}